.main-content{
    
}
.top_cover{
    background-image: url("../assets/header/bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.body{

}
.header{

}
.header__logo{
    
}
.wrapper{
    text-align: center;
}
.client-section{
    background-image: url("../assets/clients/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding-left: 20%;
    padding-right: 20%;
}
.sponsors{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.portfolio{
    display: grid;
    grid-template-columns: repeat(4, 291px);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 4px;
    grid-row-gap: 0px;
}
.blog-section__content{
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-column-gap: 4px;
    grid-row: 2;
}
.blog-section__button{
    position: absolute;
}
.newslatter-section{
    background-image: url("../assets/newsletter/bg.png"); 
    background-repeat: no-repeat;
    background-position: top center;
}
.newslatter-section__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer{
    background-image: url("../assets/footer/bg.png"); 
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
}
.footer__content{
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-auto-rows: minmax(100px, auto);
    display: flex;
    justify-content: center;
}
.footer__button{
    text-align: left;
    width: 360px;
    height: 38px;
    background-image: url("../assets/footer/footerButtonBg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}