
.advertice-section{
    background-image: url("../assets/advertice/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;  
    height: 389px;
    display: flex; 
    justify-content: center;
}

.advertice-section .advertice-section__title,
.advertice-section .advertice-section__subtitle{
    margin: 5px 5px;
    padding: 5px 5px;
}

.advertice-section .wrapper{
    padding-top: 90px;
}

.advertice-section__title{
    font-weight: 400;
    font-size: 40px;
    color: white;
}

.advertice-section__subtitle{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(179, 179, 179);
}

.advertice-section__button{
    background-color: rgb(241, 80, 80);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    outline: none !important; 
    width: 150px;
    height: 35px;
    padding: 5px 5px;
    margin: 40px 5px; 
}

.advertice-section__button:hover{
    filter: brightness(0.7);
}