.client-section{
    background-image: url("../assets/clients/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;  
}

.client-section .client-section__title,
.client-section .client-section__subtitle,
.client-section .client-section__sponsors{
    display: flex;
}

.client-section__content{
    width: auto;
    height: 500px;
}

.client-section__title{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: white;
    justify-content: center;
    margin: 0 40px;
}

.client-section__subtitle{
    color: rgb(241, 80, 80);
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 22px;
    justify-content: center;
    margin: 130px 5px;
}

.client-section__sponsors{
    flex-direction: row;
    justify-content: space-around;
}