.header,
.header .menu ul{
    display: flex;
}

.header .menu .menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    transition: 300ms;
}

.header .menu .menu__link:hover {
    color: rgb(241, 80, 80);
}

.header{
    align-items: center;
    justify-content: space-around;
}
.header__logo{
    padding: 1px 1px;
    padding-left: 15%;
    margin: 0 1px; 
}
.header__logo:hover::after { 
    content: attr(data-title);
    position: absolute;
    left: 30%; top: 10%;
    z-index: 1;
    background: rgba(255,255,230,0.9); 
    font-family: Arial, sans-serif; 
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid rgb(241, 80, 80);
}
.menu{
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    padding-right: 15%;
}
.menu__item{
    padding: 2px 5px;
    margin: 0 5px; 
}
.menu__button{
    background-color: rgb(241, 80, 80);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    outline: none !important; 
    width: 74px;
    height: 23px;
}

.header {
    .hamburger {
        width: 45px;
        height: 25px;
        cursor: pointer;
        display: none;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        position: relative;
        &.active{
            .hamburger__item:nth-child(2){
            transform: rotate(250deg);
            opacity: 0;
            }
            .hamburger__item:nth-child(1){
            transform: rotate(405deg);
            top: 6px;
            }
            .hamburger__item:nth-child(3){
            transform: rotate(-405deg);
            top: -6px;
            }
        }
        &__item:nth-child(1),
        &__item:nth-child(2),
        &__item:nth-child(3) {
            width: 100%;
            border-bottom: 2px solid rgb(241, 80, 80);
            transition: 500ms;
            position: relative;
            top: 0;
        }
    }
}