.main-section{
    display: auto;
    padding: 209px;
    bottom: auto;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
}

.main-section .main-section__title{
    font-family: 'Dancing Script';
    font-weight: 400;
    text-align: center;
}

.main-section__title{
    font-size: 70px;
    color: white;
    padding: 5px 0px;
    margin: 5px 0px; 
}

.main-section__subtitle{
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(179, 179, 179);
    padding: 1px 1px;
    margin: 0 1px; 
}

.main-section__button{
    background-color: rgb(241, 80, 80);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    outline: none !important; 
    width: 120px;
    height: 30px;
    padding: 5px 5px;
    margin: 40px 5px; 
}