.top_cover{
    background-image: url("../assets/header/bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    //padding-left: 15%;
    //padding-right: 15%;
}