body {
  margin: 0;
}

.wrapper {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: 0;
}

.top_cover {
  background-image: url("../assets/header/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

.header,
.header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu .menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.header .menu .menu__link:hover {
  color: #f15050;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  padding: 1px 1px;
  padding-left: 15%;
  margin: 0 1px;
}

.header__logo:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 30%;
  top: 10%;
  z-index: 1;
  background: rgba(255, 255, 230, 0.9);
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 5px 10px;
  border: 1px solid #f15050;
}

.menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  padding-right: 15%;
}

.menu__item {
  padding: 2px 5px;
  margin: 0 5px;
}

.menu__button {
  background-color: #f15050;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  outline: none !important;
  width: 74px;
  height: 23px;
}

.header .hamburger-menu__button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  width: 80px;
  height: 80px;
  background-color: none !important;
}

.header .hamburger-menu__button:hover .hamburger-menu__lines {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.header .hamburger-menu__lines,
.header .hamburger-menu__lines::after,
.header .hamburger-menu__lines::before {
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: #f15050;
}

.header .hamburger-menu__lines {
  top: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .hamburger-menu__lines::before {
  content: '';
  top: -12px;
}

.header .hamburger-menu__lines::after {
  content: '';
  top: 12px;
}

.header .hamburger-menu__active .hamburger-menu__lines {
  background-color: transparent;
}

.header .hamburger-menu__active .hamburger-menu__lines::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .hamburger-menu__active .hamburger-menu__lines::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .hamburger-menu__nav {
  padding-top: 80px;
  position: fixed;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: start;
  height: 100%;
  background-color: #2a2a2a;
  overflow-y: auto;
  right: -100%;
  border-left: 4px solid #f15050;
}

.header .hamburger-menu__active .hamburger-menu__nav {
  right: 0;
}

.header .hamburger-menu__link {
  padding: 30px;
  font-family: sans-serif;
  font-size: 32px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  color: #fff;
}

.header .hamburger-menu__link:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.header .hamburger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vw;
  z-index: 10;
}

.header .hamburger-menu__active .hamburger-menu__overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 209px;
  bottom: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section .main-section__title {
  font-family: 'Dancing Script';
  font-weight: 400;
  text-align: center;
}

.main-section__title {
  font-size: 70px;
  color: white;
  padding: 5px 0px;
  margin: 5px 0px;
}

.main-section__subtitle {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #b3b3b3;
  padding: 1px 1px;
  margin: 0 1px;
}

.main-section__button {
  background-color: #f15050;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  outline: none !important;
  width: 120px;
  height: 30px;
  padding: 5px 5px;
  margin: 40px 5px;
}

.services-section {
  background-image: url("../assets/services/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

.carousel-item, .carousel-item .carousel-item__part, .carousel-item .carousel-item__img,
.carousel-item .carousel-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-item__part {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 4px;
}

.carousel-item__text {
  color: rgba(0, 0, 0, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 4px;
}

.carousel {
  position: relative;
  padding-left: 15%;
  padding-right: 15%;
  padding: 5px 5px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  background-image: url("../assets/services/shape.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 371px 399px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin-top: 200px;
  margin-bottom: 200px;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item__img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  height: auto;
  max-width: 100%;
  padding: 3px;
}

.carousel-item__img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  visibility: hidden;
  position: absolute;
  top: 50%;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #a8a8a8;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #717171;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #505050;
}

.client-section {
  background-image: url("../assets/clients/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: auto;
  height: 583px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-section .client-section__title,
.client-section .client-section__subtitle {
  margin: 10px 5px;
  padding: 10px 5px;
}

.client-section .wrapper {
  padding-top: 50px;
}

.client-section__title {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: white;
}

.client-section__subtitle {
  color: #f15050;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.client-section__sponsors {
  width: 1200px;
  height: 60px;
  padding-top: 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (80px)[6];
      grid-template-columns: repeat(6, 80px);
  grid-column-gap: 4px;
  grid-row-gap: 0px;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.work-section {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: auto;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-section .work-section__title,
.work-section .work-section__subtitle {
  margin: 10px 5px;
  padding: 10px 5px;
}

.work-section .wrapper {
  padding-top: 90px;
}

.work-section__title {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: black;
}

.work-section__subtitle {
  color: #f15050;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.work-section__portfolio {
  padding-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (291px)[4];
      grid-template-columns: repeat(4, 291px);
  grid-auto-rows: minmax(100px, 2);
  grid-column-gap: 4px;
  grid-row-gap: 0px;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advertice-section {
  background-image: url("../assets/advertice/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 389px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advertice-section .advertice-section__title,
.advertice-section .advertice-section__subtitle {
  margin: 5px 5px;
  padding: 5px 5px;
}

.advertice-section .wrapper {
  padding-top: 90px;
}

.advertice-section__title {
  font-weight: 400;
  font-size: 40px;
  color: white;
}

.advertice-section__subtitle {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #b3b3b3;
}

.advertice-section__button {
  background-color: #f15050;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  outline: none !important;
  width: 150px;
  height: 35px;
  padding: 5px 5px;
  margin: 40px 5px;
}

.blog-section {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: auto;
  height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-section .blog-section__title,
.blog-section .blog-section__subtitle {
  margin: 5px 5px;
  padding: 5px 5px;
}

.blog-section__title {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: black;
}

.blog-section__subtitle {
  color: #f15050;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.blog-section .wrapper {
  padding-top: 10%px;
}

.blog-section .wrap {
  text-align: center;
  padding-top: 50px;
}

.blog-section__button {
  background-color: #f15050;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  outline: none !important;
  width: 150px;
  height: 35px;
}

.blog-section__content {
  padding-top: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (370px)[3];
      grid-template-columns: repeat(3, 370px);
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  -ms-grid-row-align: center;
      align-self: center;
}

.blog-section__date {
  color: grey;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 11px;
}

.blog-section__info {
  color: black;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.newsletter-section {
  background-image: url("../assets/newsletter/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: auto;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter-section__content {
  padding-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  -ms-grid-row-align: center;
      align-self: center;
}

.newsletteer-section__text {
  padding: 5px;
  font-weight: 600;
  font-size: 17px;
}

.newsletter-section__input {
  padding: 7px;
  background: none;
  color: white;
  outline: none !important;
  border: 0;
  border-bottom: 1px solid white;
}

.newsletter-section__input::-webkit-input-placeholder {
  color: white;
}

.newsletter-section__input:-ms-input-placeholder {
  color: white;
}

.newsletter-section__input::-ms-input-placeholder {
  color: white;
}

.newsletter-section__input::placeholder {
  color: white;
}

.newsletter-section__submit {
  background-color: #2d2d49;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  outline: none !important;
  width: 150px;
  height: 35px;
}

.footer {
  background-image: url("../assets/footer/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: auto;
  height: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__content {
  padding-top: 3%;
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-row: minmax(1, auto);
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer-list__title,
.footer .footer-list__text
.footer .footer-list__link {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

.footer-list__item {
  padding: 8px;
}

.footer-list__title {
  color: white;
  font-size: 16px;
}

.footer-list__link {
  color: #cac5c5;
  font-size: 13px;
}

.footer-list__text {
  color: #cac5c5;
  font-size: 13px;
}

.footer-list__button {
  margin: 10px 0;
  background-image: url("../assets/footer/footerButtonBg.png");
  color: white;
  text-align: left;
  border-radius: 18px;
  cursor: pointer;
  outline: none !important;
  width: 358px;
  height: 38px;
}

.footer-list__social {
  margin: 5px 0;
}

.footer__creator {
  color: #cf0303;
  font-style: normal;
}

@media (max-width: 1100px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    padding-top: 20px;
  }
  .header .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px;
  }
  .header .menu,
  .header .menu .menu__item {
    display: none;
  }
  .main-section__title {
    line-height: 100px;
    margin-bottom: 20px;
  }
  .top_cover {
    min-width: 1100px;
  }
  .services-section {
    min-width: 1100px;
  }
  .client-section {
    min-width: 1100px;
  }
  .client-section__sponsors {
    max-width: 1100px;
    padding-top: 120px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (60px)[6];
        grid-template-columns: repeat(6, 60px);
    grid-column-gap: 10px;
    grid-row-gap: 0;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .work-section {
    min-width: 1100px;
    height: auto;
    padding-bottom: 30px;
  }
  .work-section__portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (291px)[2];
        grid-template-columns: repeat(2, 291px);
    grid-auto-rows: minmax(100px, 4);
    grid-column-gap: 4px;
    grid-row-gap: 0px;
  }
  .advertice-section {
    min-width: 1100px;
  }
  .blog-section {
    min-width: 1100px;
    padding-top: 30px;
    padding-bottom: 60px;
    height: auto;
  }
  .blog-section__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (370px)[1];
        grid-template-columns: repeat(1, 370px);
    -ms-grid-row: 3;
    grid-row: 3;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .newsletter-section {
    min-width: 1100px;
  }
  .footer {
    min-width: 1100px;
  }
}

@media (max-width: 480px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    padding-top: 20px;
  }
  .header .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px;
  }
  .header .menu,
  .header .menu .menu__item {
    display: none;
  }
  .main-section {
    padding-top: 140px;
  }
  .main-section__title {
    line-height: 50px;
    margin-bottom: 20px;
    font-size: 40px;
    padding: 1px;
    bottom: 0;
    margin: 1px;
  }
  .main-section__subtitle {
    color: #f15050;
  }
  .main-section .wrapper {
    min-width: 400px;
    max-height: 100px;
  }
  .top_cover {
    min-width: 480px;
    min-height: 480px;
  }
  .services-section {
    min-width: 480px;
  }
  .client-section {
    min-width: 480px;
    height: 500px;
  }
  .client-section__title {
    font-size: 40px;
    padding-top: 20px;
  }
  .client-section__subtitle {
    font-size: 14px;
  }
  .client-section__sponsors {
    max-width: 480px;
    padding-top: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    -ms-grid-row: 2;
    grid-row: 2;
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .client-section .wrapper {
    padding-top: 25px;
    line-height: 18px;
    margin-bottom: 15%;
  }
  .work-section {
    min-width: 480px;
    height: auto;
    padding-bottom: 30px;
  }
  .work-section__title {
    font-size: 40px;
  }
  .work-section__subtitle {
    font-size: 14px;
  }
  .work-section__portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (291px)[1];
        grid-template-columns: repeat(1, 291px);
    grid-auto-rows: minmax(100px, 8);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  .work-section .wrapper {
    padding-top: 45px;
  }
  .advertice-section {
    min-width: 480px;
  }
  .advertice-section__title {
    font-size: 35px;
  }
  .blog-section {
    min-width: 480px;
    padding-top: 30px;
    padding-bottom: 60px;
    height: auto;
  }
  .blog-section__title {
    font-size: 35px;
  }
  .blog-section__subtitle {
    font-size: 14px;
  }
  .blog-section__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (370px)[1];
        grid-template-columns: repeat(1, 370px);
    -ms-grid-row: 3;
    grid-row: 3;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .newsletter-section {
    background-size: 480px 195px;
    min-width: 480px;
    height: 195px;
  }
  .newsletter-section__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (370px)[1];
        grid-template-columns: repeat(1, 370px);
    -ms-grid-row: 3;
    grid-row: 3;
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    padding-bottom: 20px;
  }
  .newsletter-section__submit {
    width: 120px;
  }
  .footer {
    min-width: 480px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: 480px 440px;
  }
  .footer__content {
    width: 480px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (200px)[2];
        grid-template-columns: repeat(2, 200px);
    -ms-grid-row: 2;
    grid-row: 2;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .footer-list__item {
    padding: 0;
  }
  .footer-list__button {
    width: 140px;
    background-size: 140px 28px;
    background-position: left;
  }
}
/*# sourceMappingURL=main.css.map */